language: cpp
jobs:
  include:
  - os: linux
    compiler: gcc
    dist: bionic
    git:
      depth: false
    script:
    - mkdir build
    - cd build
    - cmake .. -DCMAKE_BUILD_TYPE=Debug -G "Unix Makefiles" -DQYTLIB_COVERALLS=ON
    - cd ..
    - build-wrapper-linux-x86-64 --out-dir bw-output cmake --build build/
    - cd build && make coveralls
    - cd .. && sonar-scanner
  - os: osx
    before_install:
    - brew link qt --force
    script:
    - mkdir build
    - cd build
    - cmake .. -G "Unix Makefiles" -DQt5_DIR=$(brew --prefix qt)/lib/cmake/Qt5
    - make -j$(sysctl -n hw.physicalcpu)
    - make test
cache:
  directories:
    - '$HOME/.sonar/cache'
addons:
  apt:
    update: true
    packages:
    - qt5-default
    - qtdeclarative5-dev
    - libtinyxml2-dev
  homebrew:
    update: true
    packages:
    - qt
    - tinyxml2
  sonarcloud:
    organization: "rophil"
    token:
      secure: "uqMh1RhLjkeR1F6tkwNHc1NcRnaPI0E27P2Uli1GMaMEnZQfswlsKMkmRV0xRsglXKvAvkGuk9camWa8TRR/4LXzV3yOFm5RODW2Jh3TEkMkk90Tvq3hH2B6+bs5eemPMKL64qYa8+5SYEnwNvSBb/o4bJgScvhk7yTKct1IwU2Qu9PCbpbf3gbtZmguoAe8M+tf0iyvf1IMziewXVTAp2eTqgVeV2Zo/LwAgYogRdd3xR0lapatA7y3ZFVxjxx3HP3mFNlRbh9Hu+4chqQg7laFtodC6aeCVq0grTogF6gi/fIIbuQuqCSeqr/SLPtENdktlx0g60+QZxzCz8QWUydFZviRl6M6y1CE3iTp6qRAJzD7h0jbjHUAs77C9RLNFE3xKWYKrDCCaWkDRxDf8IvwHX5F8x3i0gb1CJ+PWxOuCX5sbEhIV2+uD2Aqrxxe4r+qy+0W7QQj/DvTSvyzWMxuejCfDhNaKdNFQi2csWtq8UpjfktsvdA6OCM9FHt5CubtGx3WAM/upy9x84IHfvopZXXAB9xBHk72wI5YTOtVCtRg2ePgxlH2lwfZzArI9WaMB+iNLCNVvaZ/RNb6wRpZzjtzu9NEr53eTrNVrDXooTdB0qaJn/pYb41fTtTUo8BAqXWEjyBhLkc/gPGkfH0/zaOROvF6C+JtUF0tCRg="
notifications:
  email:
    recipients:
    - phil.hoffmann@zoho.eu
    on_success: never
    on_failure: always
