name: CI
on: [push, pull_request]
jobs:
  build-ubuntu:
    runs-on: ubuntu-latest
    steps:
      - name: Get Qt
        uses: jurplel/install-qt-action@v2
        
      - name: Install other dependencies
        run: sudo apt-get install cmake libtinyxml2-dev
        
      - name: Checkout Git
        uses: actions/checkout@v2
        with:
          submodules: "recursive"
      
      - name: Setup build directory
        run: mkdir build
      
      - name: Run CMake
        run: cd build && cmake .. -G "Unix Makefiles"
      
      - name: Make
        run: cd build && make -j$(nproc)
      
      - name: Tests
        run: cd build && make test
        
  build-windows:
    runs-on: windows-latest
    steps:
      - name: Get Qt
        uses: jurplel/install-qt-action@v2
        with:
          arch: "win64_mingw73"
        
      - name: Install other dependencies 
        uses: crazy-max/ghaction-chocolatey@v1
        with:
          args: install cmake
          
      - name: Print software versions
        run: cmake --version && g++ --version && ming32-make --version

      - name: Checkout Git
        uses: actions/checkout@v2
        with:
          submodules: "recursive"
      
      - name: Setup build directory
        run: mkdir build
      
      - name: Run CMake
        run: cd build && cmake .. -G "MinGW Makefiles"
      
      - name: Make
        run: cd build && mingw32-make
      
      - name: Tests
        run: cd build && mingw32-make test
